body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1B2032;
}

@font-face {
  font-family: 'Whitney';
  font-weight: 900;
  src: local('Whitney'), url(./fonts/Whitney-Black.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  font-weight: 700;
  src: local('Whitney'), url(./fonts/Whitney-Bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  font-weight: 600;
  src: local('Whitney'), url(./fonts/Whitney-Semibold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  font-weight: 350;
  src: local('Whitney'), url(./fonts/Whitney-Medium.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  font-weight: 325;
  src: local('Whitney'), url(./fonts/Whitney-Book.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: local('Roboto'), url(./fonts/Roboto-Thin.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local('Roboto'), url(./fonts/Roboto-Black.ttf) format('truetype');
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --font-main-color: #fff;
  --font-second-color: #83889E;
  --blue-color: #3B7DE0;
}